<footer class="bg-primary text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">

         <!--Grid column-->
         <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">ABOUT</h5>
    
            <ul class="list-unstyled mb-0">
               
              
               
              
                
               
               
              <li>
                <a href="#!" class="text-white">Contact Us</a>
              </li>
              <li>
                <a href="#!" class="text-white">About Us</a>
              </li>
              <li>
                <a href="#!" class="text-white">Careers</a>
              </li>
              <li>
                <a href="#!" class="text-white">Press</a>
              </li>
              <li>
                <a href="#!" class="text-white">Flipkart Wholesale</a>
              </li>
              <li>
                <a href="#!" class="text-white">Cleartrip</a>
              </li>
              <li>
                <a href="#!" class="text-white">Corporate Information</a>
              </li>
              <li>
                <a href="#!" class="text-white">Flipkart Stories</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
           <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">HELP</h5>
            




    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Payments</a>
              </li>
              <li>
                <a href="#!" class="text-white">Shipping</a>
              </li>
              <li>
                <a href="#!" class="text-white">Cancellation & Returns</a>
              </li>
              <li>
                <a href="#!" class="text-white">FAQ</a>
              </li>
              <li>
                <a href="#!" class="text-white">Report Infringement</a>
              </li>
             
            </ul>
          </div>
          







          <!--Grid column-->
           <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">CONSUMER POLICY</h5>
    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Cancellation & Returns</a>
              </li>
              <li>
                <a href="#!" class="text-white">Terms Of Use</a>
              </li>
              <li>
                <a href="#!" class="text-white">Security</a>
              </li>
              <li>
                <a href="#!" class="text-white">Privacy</a>
              </li>
              <li>
                <a href="#!" class="text-white">Sitemap</a>
              </li>
              <li>
                <a href="#!" class="text-white">Grievance Redressal</a>
              </li>
              <li>
                <a href="#!" class="text-white">EPR Compliance</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
           <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Mail Us:</h5>
  
          <p>
            Flipkart Internet Private Limited,

            Buildings Alyssa, Begonia &
            
            Clove Embassy Tech Village,
            
            Outer Ring Road, Devarabeesanahalli Village,
            
            Bengaluru, 560103,
            
            Karnataka, India
          </p>
        </div>
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Registered Office Address:</h5>
    
            <p>
                Flipkart Internet Private Limited,

                Buildings Alyssa, Begonia &
                
                Clove Embassy Tech Village,
                
                Outer Ring Road, Devarabeesanahalli Village,
                
                Bengaluru, 560103,
                
                Karnataka, India
                
                CIN : U51109KA2012PTC066107
                
                Telephone: 044-45614700
            </p>
          </div>
          <!--Grid column-->
    
  
   
  
 
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Flipkart.Com</a>
    </div>
    <!-- Copyright -->
  </footer>
